*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f172a;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

.container{
    width:1200px;
    padding:40px;
}

h1{
    margin-bottom:30px;
}

.cards{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:30px;
    border-radius:20px;
    transition:0.3s;
    cursor:pointer;
    border:1px solid #334155;
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    margin-top:10px;
    margin-bottom:15px;
}

.label{
    color:#94a3b8;
}

.trend{
    font-weight:bold;
}

.up{
    color:#22c55e;
}

.down{
    color:#ef4444;
}