*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f172a;
    color:white;
    padding:40px;
}

.container{
    max-width:900px;
    margin:auto;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

button{
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
}

.add-btn{
    background:#38bdf8;
    color:white;
}

.transactions{
    background:#1e293b;
    padding:20px;
    border-radius:16px;
}

.transaction{
    display:flex;
    justify-content:space-between;
    padding:15px 0;
    border-bottom:1px solid #334155;
}

.income{
    color:#22c55e;
}

.expense{
    color:#ef4444;
}

.modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.6);
    display:none;
    justify-content:center;
    align-items:center;
}

.modal.active{
    display:flex;
}

.modal-content{
    background:#1e293b;
    padding:30px;
    border-radius:20px;
    width:400px;
}

input,
select{
    width:100%;
    padding:12px;
    margin-top:12px;
    margin-bottom:16px;
    background:#0f172a;
    border:none;
    border-radius:10px;
    color:white;
}

.actions{
    display:flex;
    gap:10px;
}

.save{
    flex:1;
    background:#22c55e;
    color:white;
}

.cancel{
    flex:1;
    background:#ef4444;
    color:white;
}